
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* ---- typography ---- */
@font-face {
    font-family: 'Bungee';
    src: url('./../font/Bungee_Regular.ttf');
}

body {
  text-shadow: 3px 3px rgb(0, 196, 0);
  color: #111;
  font-family: 'Bungee', cursive, 'Arial';
  line-height: 147%;
}

h1 {
  font-size: 50px;
  padding: 40px;
}

h2{
  color:white;
  font-size: 40px;
  line-height: 1.7em;
  margin: 0;
}

h3 {
  font-size: 35px;
  text-shadow: 2px 2px black;
  text-align: center;
}

li {
  font-size: 20px;
  line-height: 1.5em;
  text-align: right;
}

p {
  font-size: 30px;
  line-height: 1.45em;
}

/* ---- layout ---- */

body {
  background-image: url('./../../images/body_bg.jpg');
  cursor: crosshair;
}

audio{
  display: block;
  margin: 0 auto;
}

button, input {
  font-family: inherit;
  background-color: none;
  padding: 20px;
  color: black;
  font-size: 25px;
  width: 50%;
  border-radius: 10px;
}

button {
  background-image: url('./../../images/cucumber_btn.png');
  background-size: cover;
  background-position: center;
  background-color: rgb(0, 109, 0);
  border-radius: 35%;
  border: 2px outset black;
}

button:hover {
  color:white;
  border: 2px inset black;
  text-shadow: 2px 5px black;
}

input:hover {
  background-color: rgb(196, 196, 196);
}

@media (max-width: 1370px) {
  #score-container {
    display:none;
  }
}

@media (max-width: 980px) {
  #settings {
    display: none;
  }
  #canvas{
    width: 100vw;
    height: 100vh;
  }
}

/* ---- SPLASH SCREEN ---- */

#splash_container, #endgame_container {
  background-image: url('./../../images/fur.jpg');
  width: 1000px;
  margin: 0 auto;
  background-color:white;
  text-align: center;
  padding: 50px;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 25px;
  margin-top: 200px;
}

#splash_container *{
  margin: 20px;
}

/* ---- SETTINGS ---- */

#settings {
  position: fixed;
  top: 0;
  left: 20px;
}

#settings > *:hover {
  color: rgb(43, 255, 0);
}

/* ---- SCORE ---- */

#score_container {
  color:white;
  position:fixed;
  top: 20%;
  padding: 20px;
}

#score_container li{
  list-style-type: none;
}

/* ---- CANVAS ---- */

#canvas {
  display:block;
  margin: 0 auto;
  cursor: none;
  background-color: white;
  margin-top: 50px;
  border: 2px inset silver;
  border-radius: 5px;
}

#loading {
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.301);
  text-align: center;
  line-height: 20;
  font-size: 50px;
}
