

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* ---- typography ---- */

body {
  color: #111;
  font-family: 'Bungee', cursive, 'Arial';
  line-height: 147%;
}

h2{
  color:white;
  font-size: 40px;
  line-height: 1.7em;
}

p {
  font-size: 30px;
  line-height: 1.45em;
}
/* ---- layout ---- */

body {
  background-color: rgb(1, 41, 0);
  cursor: crosshair;
}

audio{
  display: block;
  margin: 0 auto;
}

button, input {
  font-family: inherit;
  background-color: none;
  padding: 20px;
  color: black;
  font-size: 25px;
  width: 50%;
}

button {
  background-image: url('./../../images/cucumber-btn.png');
  background-size: cover;
  background-position: center;
  background-color: rgb(0, 109, 0);
  border-radius: 35%;
  border: 2px outset black;
}

button:hover {
  color:white;
  border: 2px inset black;
  text-shadow: 2px 5px black;
}

input:hover {
  background-color: rgb(196, 196, 196);
}

@media (max-width: 1370px) {
  #score-board {
    display:none;
  }
}

@media (max-width: 980px) {
  #content {
    display:none;
  }
}

/* ---- SPLASH SCREEN ---- */

#splash-container, #endgame-container{
  width: 1000px;
  margin: 0 auto;
  background-color:white;
  text-align: center;
  text-shadow: 2px 2px rgb(115, 255, 0);
  padding: 50px;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 25px;
  margin-top: 200px;
}

#splash-container *{
  margin: 20px;
}

/* ---- SETTINGS ---- */

#settings {
  display: inline-block;
  position: fixed;
  top: 0;
  left: 20px;
}

#settings > *:hover {
  color: rgb(43, 255, 0);
}

/* ---- SCORE ---- */

#score-board {
  position:fixed;
  left: 20px;
  color:white;
  padding: 20px;
}

#score-board li{
  list-style-type: none;
  
}

/* ---- CANVAS ---- */

#canvas {
  display:block;
  margin: 0 auto;
  cursor: none;
  background-color: white;
  margin-top: 50px;
  border: 2px inset silver;
  border-radius: 5px;
  background: url('./../../images/bg-loop.gif');
}


